*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif,'Microsoft JhengHei';
    cursor: ;
  }
html,body{
    height: 100%;
}
.header{
    justify-content: center;
    align-items:center;
    height: 10%;
    background-color: cornflowerblue;
}
#point{
    position: absolute;
    z-index: 5;
}
.header h1{
    font-size: 5vh;
}
#score_pic{
    position: relative;
    
    top: 0px;
    left: 0px;
}
.wrapper{
    position: relative;
    min-height: 100%;
    margin-bottom: -30px;
}
.footer{
    top: 50px;
    height: 30px;
    
}
#goback{
    position: absolute;
    left: 0px;
    top: 20px;
}
#goto{
    position: absolute;
    right: 0px;
}
#score{
    position: absolute;
    bottom: 75%;
    left:55%;
    z-index: 10;
}
#limit{
    font-size: 10vh;
    position: absolute;
    bottom: 45%;
    left:55%;
    z-index: 10;
    background-color:transparent;
    border:none;
    visibility:hidden;
    
}
#number{
    position: absolute;
}
.rainbow{
    background-image:linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
     );
   animation:slidebg 2s linear infinite;
 }